@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Array Calculation</h1>
    <p class="lead">Please start by entering "/api/arraycalc" in the URL, and then append either "reverse" and "deletepart"</p>
</div>